.Cart{
    position: fixed;
    width: 150px;
    height: 110vh;
    right: 0px;
    top: 0px;
    background-color: #E8D1D7;
    z-index: 2;
    overflow-y: auto;
}

@media (max-width: 900px){
    .Cart{
        right: 0px;
        overflow: hidden;
    }
}

@media (max-width: 1300px){
    .Cart{
        overflow-x: hidden;
    }
}

.Cart-Button{
    background-color: #40E0D0;
    color: #000080;
    height: 10vh;
    border: 0px;
}

