.CartItemCard{
    position: relative;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.CartItemCard-Img-Container{
    background-color: #D1E8E2;
}

.CartItemCard .CartItemCard-Button{
    position: relative;
    left: 15px;
    height: 32px;
    border-radius: 0px;
    top: 8px;
}

.CartItemCard-Img{
    object-fit: contain;
    width: 100%;
}

.CartItemCard-QuantityAdjuster-Container{
    display: inline-block;
    position: relative;
    top: 10px;
}

.CartItemCard-Change{
    height: 40px;
    background-color: #964734;
}