.Cart{
    position: fixed;
    width: 150px;
    height: 110vh;
    right: 0px;
    top: 0px;
    background-color: #FB8500;
    z-index: 2;
    overflow-y: auto;
}

.Cart-Container{
    padding: 2px;
}

@media (max-width: 900px){
    .Cart{
        right: 0px;
        overflow: hidden;
    }
}

@media (max-width: 1300px){
    .Cart{
        overflow-x: hidden;
    }
}

.Cart-Button{
    background-color: #219EBC;
    color: #ecf0f1;
    height: 10vh;
    border: 0px;
}

