.Cart{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Cart-Container{
    padding: 2px;
}

@media (max-width: 900px){
    .Cart{
        right: 0px;
        overflow: hidden;
    }
}

@media (max-width: 1300px){
    .Cart{
        overflow-x: hidden;
    }
}

.Cart-Button{
    background-color: #219EBC;
    color: #ecf0f1;
    height: 10vh;
    border: 0px;
    border-radius: 6px 0px 0px 0px;
}

