.CheckoutPage{
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
}


.CheckoutPage-Content-Container{
    width: 600px;
    /* background-color:green; */
    color: blue;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    border: 1px solid blue;
}

.CheckoutPage-Form-Container{
    display: flex;
    justify-content: center;
    background-color: #dcdde1;
    height: 170px;
}

.CheckoutPage-Form{
    position: relative;
    bottom: -20px;
    width: 400px;
}

.CheckoutPage-Form-Button{
    position: absolute;
    bottom: 45px;
}

.CheckoutPage-label{
    color: #0FA4AF;
}