.AddProduct{
    display: flex;
    justify-content: center;
}

.AddProduct-Form-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 530px;
    border-radius: 6px;
    background-color: #023047;
    position: relative;
    bottom: -80px;
}

.AddProduct-Form{
    width: 400px;

}

.AddProduct-Form-Button{
    position: relative;
    bottom: -10px;
}

.AddProduct-label{
    color: #219EBC;
}