.CustomerOrderListCard{
    position: relative;
    width: 260px;
    height: 410px;
    background-color: #023047;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    color: white;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.CustomerOrderListCard-Img-Container{
    display: flex;
    justify-content: center;
    background-color: #0FA4AF;
}

.CustomerOrderListCard-Img{
    object-fit: contain;
    height: 150px;
}