.ProfilePage{
    display: flex;
    justify-content: center;
}

.ProfilePage-Form-Container{
    display: flex;
    align-items: center;
    width: 450px;
    height: 360px;
    background-color: #7f8fa6;
    border-radius: 6px;
    position: relative;
    bottom: -80px;
}

.ProfilePage-Form{
    width: 400px;
    margin: 0 auto;
}

.ProfilePage-Form-Button{
    position: relative;
    bottom: -10px;
}

.ProfilePage-label{
    color: #192a56;
}

.ProfilePage-Form-Delete{
    position: absolute;
    bottom: 27px;
    right: 25px;
}